<a href="https://colab.research.google.com/github/anakstei/python-saham-analisis-visualisasi/blob/main/python_saham_analisis_visualisasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Analisis dan Visualisasi Data Saham Menggunakan Python — Part 1**

### Import libraries

In [2]:
# Install yfinance library
# https://pypi.org/project/yfinance/
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/d2/88/b25778f17e5320c1c58f8c5060fb5b037288e162bd7554c30799e9ea90db/lxml-4.6.2-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 15.4MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=159a795d90a865655f38f9296f10eb81d686e3e2eba7ab9dbea48dfa0afcd6a4
  Stored in directory: /root/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.2 yfinance-0.1.55

In [4]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import yfinance as yf

### Test yfinance

In [37]:
bbca = yf.Ticker("BBCA.JK")

In [45]:
# Get stock info
bbca.info

{'52WeekChange': 0.12905979,
 'SandP52WeekChange': 0.4136821,
 'address1': 'Menara BCA',
 'address2': 'Grand Indonesia Jl. M.H. Thamrin No. 1',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 33525,
 'askSize': 0,
 'averageDailyVolume10Day': 23731271,
 'averageVolume': 18795986,
 'averageVolume10days': 23731271,
 'beta': 0.528512,
 'beta3Year': None,
 'bid': 33500,
 'bidSize': 0,
 'bookValue': 7487.173,
 'category': None,
 'circulatingSupply': None,
 'city': 'Jakarta',
 'companyOfficers': [],
 'country': 'Indonesia',
 'currency': 'IDR',
 'dateShortInterest': None,
 'dayHigh': 33600,
 'dayLow': 33100,
 'dividendRate': 553,
 'dividendYield': 0.0165,
 'earningsQuarterlyGrowth': -0.072,
 'enterpriseToEbitda': None,
 'enterpriseToRevenue': 9.188,
 'enterpriseValue': 583706322403328,
 'exDividendDate': 1607472000,
 'exchange': 'JKT',
 'exchangeTimezoneName': 'Asia/Jakarta',
 'exchangeTimezoneShortName': 'WIB',
 'expireDate': None,
 'fax': '62 21 2358 8300',
 'fiftyDayAverage': 34346.43,
 'fiftyTwoWeekHigh': 36900,
 'fiftyTwoWeekLow': 21625,
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': 1.22,
 'floatShares': 9799133724,
 'forwardEps': 1204.84,
 'forwardPE': 27.825272,
 'fromCurrency': None,
 'fullTimeEmployees': 26123,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '25200000',
 'heldPercentInsiders': 0.59733003,
 'heldPercentInstitutions': 0.21236,
 'impliedSharesOutstanding': None,
 'industry': 'Banks—Regional',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1607472000,
 'lastDividendValue': 98,
 'lastFiscalYearEnd': 1609372800,
 'lastMarket': None,
 'lastSplitDate': 1201478400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/bca.co.id',
 'longBusinessSummary': 'PT Bank Central Asia Tbk, together with its subsidiaries, provides banking products and services to individual, corporate, and small and medium enterprise customers in Indonesia and internationally. It offers deposits accounts, loans, transaction banking services, electronic banking services, cash management services, credit cards, bancassurance products, mutual fund and treasury investment products, credit facilities, standby LC/bank guarantees, export import facilities, local LC, and foreign exchange facilities. The company also provides investment financing, working capital financing, auto and multipurpose financing, operating lease, other financing activities, money lending and remittance, securities brokerage dealing and securities issuance underwriting, general or loss insurance, life insurance, Sharia banking, and venture capital services. As of December 31, 2020, it operated 1,248 offices comprising 139 main branches, 874 sub-branches, and 235 cash offices; and 17,623 automated teller machines. PT Bank Central Asia Tbk was founded in 1955 and is headquartered in Jakarta, Indonesia. PT Bank Central Asia Tbk is a subsidiary of PT Dwimuria Investama Andalan.',
 'longName': 'PT Bank Central Asia Tbk',
 'market': 'id_market',
 'marketCap': 826558872813568,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_1945186',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1609372800,
 'navPrice': None,
 'netIncomeToCommon': 27131109179392,
 'nextFiscalYearEnd': 1672444800,
 'open': 33600,
 'openInterest': None,
 'payoutRatio': 0.50270003,
 'pegRatio': None,
 'phone': '62 21 2358 8000',
 'previousClose': 33025,
 'priceHint': 2,
 'priceToBook': 4.4776583,
 'priceToSalesTrailing12Months': 13.010275,
 'profitMargins': 0.42705002,
 'quoteType': 'EQUITY',
 'regularMarketDayHigh': 33600,
 'regularMarketDayLow': 33100,
 'regularMarketOpen': 33600,
 'regularMarketPreviousClose': 33025,
 'regularMarketPrice': 33600,
 'regularMarketVolume': 10060400,
 'revenueQuarterlyGrowth': None,
 'sector': 'Financial Services',
 'sharesOutstanding': 24654999552,
 'sharesPercentSharesOut': None,
 'sharesShort': None,
 'sharesShortPreviousMonthDate': None,
 'sharesShortPriorMonth': None,
 'shortName': 'Bank Central Asia Tbk.',
 'shortPercentOfFloat': None,
 'shortRatio': None,
 'startDate': None,
 'strikePrice': None,
 'symbol': 'BBCA.JK',
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': 455,
 'trailingAnnualDividendYield': 0.013777441,
 'trailingEps': 1100,
 'trailingPE': 30.477272,
 'twoHundredDayAverage': 32150.887,
 'volume': 10060400,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'http://www.bca.co.id',
 'yield': None,
 'ytdReturn': None,
 'zip': '10310'}

In [42]:
# Get historical market data
hist = bbca.history(period="max")
# hist = bbca.history(start="2020-02-15", end="2021-02-15")

In [43]:
type(hist)

pandas.core.frame.DataFrame

In [44]:
hist

                    Open          High  ...  Dividends  Stock Splits
Date                                    ...
2004-06-08    553.559837    569.375832  ...        0.0           0.0
2004-06-09    561.468037    577.284038  ...        0.0           0.0
2004-06-10    569.376038    569.376038  ...        0.0           0.0
2004-06-11    561.468037    569.376038  ...        0.0           0.0
2004-06-14    569.375832    569.375832  ...        0.0           0.0
...                  ...           ...  ...        ...           ...
2021-03-04  34525.000000  35000.000000  ...        0.0           0.0
2021-03-05  33600.000000  34625.000000  ...        0.0           0.0
2021-03-08  34750.000000  34750.000000  ...        0.0           0.0
2021-03-09  33500.000000  33575.000000  ...        0.0           0.0
2021-03-10  33600.000000  33600.000000  ...        0.0           0.0

[4164 rows x 7 columns]

### Load dataset